*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: #0c1022;
    color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20pt 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #f06,#3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.skill{
    width: 100%;
    padding: 100px 0px;
    background:#0c1022; 
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    animation: slideTop 10s ease forwards;
    animation-delay: calc(5s * var(--i));
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    box-sizing: border-box;
    animation: slideTop 10s ease forwards;
    animation-delay: calc(5s * var(--i));
    
}
.card{
    height: 575px;
    width: 335px;
    padding: 20px 35px;
    background: black;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #3ff;
}
h5{
    color: azure;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
@keyframes slideTop {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}